<div class="card">
  <div class="card-content">
    <img src="{{ userDetails.profile_pic}}?s=200" alt="" class="profile">
    <h4 class="user_fullname">{{ userDetails.fullname }}</h4>
    <h5 class="user_profession">{{{ userDetails.occupation }}}</h5>
    <p class="user_origin">{{{ userDetails.local_government }}} {{#if userDetails.origin_state }}- {{ userDetails.origin_state }}{{/if}}</p>
    <img src="/images/pdp_small.jpg" alt="" class="user_party">
  </div>
  <div class="user_stats">
    <div class="user_stat">
      <p class="no">{{ userDetails.followersCount }}</p>
      <p class="desc">Followers</p>
    </div>
    <div class="user_stat queries">
      <p class="no">{{ userDetails.no_of_queries }}</p>
      <p class="desc">Queries</p>
    </div>
  </div>
  {{#unless userDetails.isMe }}
    <ul class="social">
      <li>
        <a href="{{#if userDetails.fb_id }}https://fb.me/{{{ userDetails.fb_id }}}{{else}}/edit_profile{{/if}}"><img src="/images/facebook.svg" alt=""> &nbsp; {{#if userDetails.fb_id}}www.facebook.com/{{ userDetails.fb_id }}{{else}}Link Facebook{{/if}}</a>
      </li>
      <li>
        <a href="{{#if userDetails.gPlus_id}}{{ userDetails.gPlus_id }}{{else}}/edit_profile{{/if}}"><img src="/images/google.svg" alt=""> &nbsp; {{#if userDetails.gPlus_id }}{{ userDetails.gPlus_id }}{{else}}Link Google Plus{{/if}}</a>
      </li>
      <li>
        <a href="{{#if userDetails.tw_id }}{{ userDetails.tw_id }}{{else}}/edit_profile{{/if}}"><img src="/images/twitter.svg" alt=""> &nbsp; {{#if userDetails.tw_id }}{{ userDetails.tw_id }}{{else}}Link Twitter{{/if}}</a>
      </li>
    </ul>
    {{else}}
    <ul class="social">
      {{#if userDetails.fb_id }}
      <li>
        <a href="https://fb.me/{{ userDetails.fb_id }}"><img src="/images/facebook.svg" alt=""> &nbsp; Facebook</a>
      </li>
      {{/if}}
      {{#if userDetails.gPlus_id}}
      <li>
        <a href="https://plus.google.com/+{{ userDetails.gPlus_id }}"><img src="/images/google.svg" alt=""> &nbsp; Google Plus</a>
      </li>
      {{/if}}
      {{#if userDetails.tw_id }}
      <li>
        <a href="https://twitter.com/{{ userDetails.tw_id }}"><img src="/images/twitter.svg" alt=""> &nbsp; Twitter</a>
      </li>
      {{/if}}
      {{#unless userDetails.fb_id }}
        {{#unless userDetails.gPlus_id }}
          {{#unless userDetails.tw_id }}
            <div class="social-accounts-empty">No linked social accounts</div>
          {{/unless}}
        {{/unless}}
      {{/unless}}
    </ul>
  {{/unless}}
</div> 