{{> head }}
<body class="board">
  {{> innerNav }}
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="edit board-layout col s12 row">
          <br>
          <div class="container">
            <div class="col s12 m12 l12 followers">
              <div class="card-panel update">
                <h5>Edit Profile</h5>
                <!-- <button class="round-btn btn right update-btn top waves-effect waves-light">Update</button> -->
                <hr><br>
                <form onsubmit="editProfile(); return false;" class="row">
                  <div class="col s12 m6 l6 input-field">
                    <input value="{{ details.fullname }}" type="text" id="fullname_edit" placeholder="fullname">
                    <label for="fullname_edit">Firstname Lastname</label>
                  </div>
                  <div class="col s12 m6 l6 input-field">
                    <input value="{{ details.email }}" type="email" id="email_edit">
                    <label for="email_edit">Email</label>
                  </div>

                  <div class="col s12 m12 l12 input-field">
                    <input value="{{ details.current_address }}" type="text" id="address_edit">
                    <label for="address_edit">Current Address</label>
                  </div>
                  <div class="col s12 m12 l6 input-field">
                    <input value="{{ details.occupation }}" type="text" id="occupation_edit">
                    <label for="occupation_edit">Occupation</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.phone_number }}" type="number" id="phone_edit">
                    <label for="phone_edit">Phone No.</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <select name="state_edit" id="state_edit">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="abuja">ABUJA FCT</option>
                        <option value="abia">ABIA</option>
                        <option value="adamawa">ADAMAWA</option>
                        <option value="akwa_ibom">AKWA IBOM</option>
                        <option value="anambra">ANAMBRA</option>
                        <option value="bauchi">BAUCHI</option>
                        <option value="bayelsa">BAYELSA</option>
                        <option value="benue">BENUE</option>
                        <option value="borno">BORNO</option>
                        <option value="cross_river">CROSS RIVER</option>
                        <option value="delta">DELTA</option>
                        <option value="ebonyi">EBONYI</option>
                        <option value="edo">EDO</option>
                        <option value="ekiti">EKITI</option>
                        <option value="enugu">ENUGU</option>
                        <option value="gombe">GOMBE</option>
                        <option value="imo">IMO</option>
                        <option value="jigawa">JIGAWA</option>
                        <option value="kaduna">KADUNA</option>
                        <option value="kano">KANO</option>
                        <option value="katsina">KATSINA</option>
                        <option value="kebbi">KEBBI</option>
                        <option value="kogi">KOGI</option>
                        <option value="kwara">KWARA</option>
                        <option value="lagos">LAGOS</option>
                        <option value="nassarawa">NASSARAWA</option>
                        <option value="niger">NIGER</option>
                        <option value="ogun">OGUN</option>
                        <option value="ondo">ONDO</option>
                        <option value="osun">OSUN</option>
                        <option value="oyo">OYO</option>
                        <option value="plateau">PLATEAU</option>
                        <option value="rivers">RIVERS</option>
                        <option value="sokoto">SOKOTO</option>
                        <option value="taraba">TARABA</option>
                        <option value="yobe">YOBE</option>
                        <option value="zamfara">ZAMFARA</option>
                      </select>
                      <label for="state_edit">STATE OF ORIGIN</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.origin_town }}" type="text" id="town_edit">
                    <label for="town_edit">TOWN OF ORIGIN</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.local_government }}" type="text" id="local_gov_edit">
                    <label for="local_gov_edit">Local Government</label>
                  </div>
                  <div class="col s12 m6 l4 input-field">
                    <select name="party_edit" id="party_edit">
                        <option value="" disabled selected>Choose your Party</option>
                        <option value="APC">APC</option>
                        <option value="PDP">PDP</option>
                        <option value="APGA">APGA</option>
                    </select>
                    <label for="party_edit">Party</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.fb_id }}" type="text" id="fb_edit">
                    <label for="fb_edit">facebook</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.tw_id }}" type="text" id="tw_edit">
                    <label for="tw_edit">twitter</label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.gPlus_id }}" type="text" id="google_edit">
                    <label for="google_edit">Google<sup>+</sup></label>
                  </div>
                  <div class="col s12 m6 l3 input-field">
                    <input value="{{ details.date_of_birth }}" type="date" id="dob_edit" placeholder="Date of birth">
                  </div>
                  <div class="col s12 input-field">
                    <button class="btn-large waves-effect waves-light update-btn round-btn">
                      <i class="loginSpinner fa fa-spinner fa-pulse fa-3x fa-fw hide"></i>
                      Update Profile
                    </button>
                    <a href="/timeline" class="btn-large red round-btn waves-effect waves-light">Back to Timeline</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{> profileMenu }}
{{> footer }}