{{> head}}

</head>

<body class="board">
  {{> innerNav }}
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="tab-fence">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2">
                <a target="_self" href="/timeline">Timeline</a>
              </li>
              <li class="tab col s2">
                <a target="_self" href="/profile">Profile</a>
              </li>
              <li class="tab col s2"><a target="_self" href="/following">Following</a></li>
              <li class="tab col s2"><a class="active" href="#followers">Followers</a></li>
            </ul>
          </div>
        </div>
        <div id="followers" class="board-layout col s12 row">
          <br>
          <div class="col s12 m4 l3">
            {{> profileCard }}
          </div>
          <div class="col s12 m8 l9 followers">
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Followers</h4>
                <p class="green-text right right-align">{{followerUsersList.length}}
                  {{#if followerUsersList.length}}
                    followers
                  {{else if isInactive}}
                    follower
                  {{/if}}
                </p>
              </div>
              {{#each followerUsersList}}
              <a href="/profile/{{id}}">
                <div class="head">
                  <img src="{{ profile_pic }}" alt="{{ fullname }}" class="profile">
                  <h4 class="creator_fullname">{{ fullname }}</h4>
                  <p class="creator_origin">{{ occupation }}</p>
                  <p class="creator_origin">{{ local_government }} {{#if origin_state}}- {{ origin_state }}{{/if}}</p>
                  <button class=" waves-effect waves-light btn red rounded right round-btn follow follow-action" id="follow_{{ id }}">follow</button>
                </div>
              </a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{> profileMenu }}
  {{> footer}}
<script>
    $(document).ready(function(){
    $.ajax({
        url: '/api/fetchMyPosts',
        type: 'get',
        success: function(post_data){
            document.getElementById('myPostNum').innerHTML = post_data.length;
        },
        error: function(err) {
            console.log(err);
        }
    })
    $.ajax({
        url: '/api/fetchMyQueries',
        type: 'get',
        success: function(post_data){
            document.getElementById('queryId').innerHTML = post_data.length;
        },
        error: function(err) {
            console.log(err);
        }
    })
    });
  </script>