{{> head}}

</head>

<body class="board">
  {{> innerNav }}
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="tab-fence">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2">
                <a target="_self" href="/timeline">Timeline</a>
              </li>
              <li class="tab col s2">
                <a target="_self" href="/profile">Profile</a>
              </li>
              <li class="tab col s2"><a class="active" href="#followers">Followers</a></li>
            </ul>
          </div>
        </div>
        <div id="followers" class="board-layout col s12 row">
          <br>
          <div class="col s12 m4 l3">
            {{> profileCard }}
          </div>
          <div class="col s12 m8 l9 followers">
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Followers</h4>
                <p class="green-text right right-align">34 followers</p>
              </div>
              {{#each Users}}
              <div class="head">
                <img src="{{ profile_pic }}" alt="{{ fullname }}" class="profile">
                <h4 class="creator_fullname">{{ fullname }}</h4>
                <p class="creator_origin">{{ occupation }}</p>
                <p class="creator_origin">{{ local_government }} {{#if origin_state}}- {{ origin_state }}{{/if}}</p>
                <button class="btn red rounded right round-btn follow follow-action">follow</button>
              </div>
              {{/each}}
              <!--<div class="head">
                <img src="./images/abiola-4.jpg" alt="Abiola" class="profile">
                <h4 class="creator_fullname">Abiola Odunayi</h4>
                <p class="creator_origin">UX Designer</p>
                <p class="creator_origin">Itesiwaju Local Governement</p>
                <button class="btn red rounded right round-btn follow follow-action">follow</button>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{> profileMenu }}
  {{> footer}}