{{> head }}
</head>

<body>
	<ul id='menu_drop' class='dropdown-content'>

	</ul>
	<header>
		<img src="/images/banner.png" alt="Under35" class="banner">
		<nav class="transparent">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo left">
                    <img src="/images/logo.png" alt="Under35">
                </a>
				<ul class="right hide-on-small-only">
					<li><a href="/about-us">ABOUT US</a></li>
					<li><a href="/event">EVENTS</a></li>
					<li><a href="/blog">BLOG</a></li>
					<li><a href="#">&nbsp;</a></li>
					<li>
						<a href="/login">
							<u>Sign in</u>
						</a>
					</li>
					<li><a href="/register" class="btn green">Sign up</a></li>
				</ul>
				<ul class="hide-on-med-and-up right">
					<li><a class='dropdown-button' href='#' data-activates='dropdown1' data-hover="true" data-belowOrigin="true" data-constrainWidth="false"><i class="icon ion-navicon x2"></i></a></li>

					<!-- Dropdown Structure -->
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="/about-us">ABOUT US</a></li>
						<li><a href="/event">EVENTS</a></li>
						<li><a href="/blog">BLOG</a></li>
						<li><a href="/login">Sign in</a></li>
						<li><a href="/register" class="sign_up">Sign up</a></li>
					</ul>
				</ul>
			</div>
		</nav>
		<div id="banner" class="center white-text">
			{{!--  ,  --}}
			<h4>We enable young people <br> build expressions in their communities, </h4>
			<p class="flow-text">gain followership and run political campaigns.</p>
			<p class="center">
				<button class="btn green">learn more</button>
				<a href="/register" class="btn transparent waves-effect waves-light">SIGN UP</a>
			</p>
		</div>
	</header>
	<main>
		<section id="cores" class="row">
			<h4 class="center heading">OUR CORES</h4>
			<div class="heading_rule"></div>
			<p class="description">
				Under35.ng is a web platform that enables young people under 35 years of age build popularity and followership, successfully
				run and fund political campaigns. The platform will take the form of a CMS system that very closely integrates with social
				media networks and mimics an online forum to ensure adequate followership.
			</p>
			<div class="container center">
				<div class="col s12 m6 l4">
					<img src="./images/garner_followership-icon.png" alt="" class="point-icon">
					<h4 class="head">Garner Followership</h4>
					<p>Enable new entrants into the political ecosystem on how to start and grow their campaigns.</p>
				</div>
				<div class="col s12 m6 l4">
					<img src="./images/star-icon.png" alt="" class="point-icon">
					<h4 class="head">Popularity</h4>
					<p>Showcase your political pitch in order to gain popularity</p>
				</div>
				<div class="col s12 m6 l4 offset-m">
					<img src="./images/get_funding-icon.png" alt="get funding" class="point-icon">
					<h4 class="head">Get funding</h4>
					<p>Provide enhanced visibility on your political activities so as to get funding for your ambitions</p>
				</div>
			</div>
		</section>
		<section id="leaderboard">
			<h4 class="center heading">YOUTH LEADERBOARD</h4>
			<div class="heading_rule"></div>
			<div class="row">
				<div class="container">
					{{!-- youth leaderboard array loop --}}
					{{#each topYouths}}
					<div class="col s12 m6 l4">
						<div class="card youth-card">
							<div class="card-content">
								<img src="./images/ariwoola_james-james.png" alt="{{fullname}}" class="center">
								<p class="name">{{ fullname }}</p>
								<p class="profession">{{ occupation }}</p>
								<p class="user_highlights">{{ no_of_followers }} followers | {{ no_of_comments }} comments</p>
							</div>
							<div class="card_action">
								<div class="action">
									<img class="icn" src="./images/person_icon.png">
									<p class="icon_name">View Profile</p>
								</div>
								<div class="action">
									<!-- <img class="icn" src="./images/arrow_icon.png"> -->
									<p class="center"><i class="icon ion-ios-arrow-thin-right green-text x2"></i></p>
									<p class="icon_name">Follow</p>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					{{!-- end youth leaderboard array loop --}}
					<div class="col s12">
						<p class="center">
							<a style="position:relative;" href="#" class="see_more btn-flat waves-effect"><span>See more</span> &nbsp;  <i class="icon ion-ios-arrow-right x2"></i></a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section id="from_blog">
			<h4 class="center heading">TOP POSTS</h4>
			<div class="heading_rule"></div>
			<div class="row">
				<div class="container">
					<div class="col s12 major_post">
						<div class="card horizontal">
							<div class="card-image">
								<img src="./images/lagos_life.png">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<p class="date">12th September, 2019 - 12:01pm</p>
									<p class="title">My manifesto for my Local Government </p>
									<p class="full_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<p class="by"><span>By</span> Ariwoola Rasaq</p>
									<ul class="social">
										<li><a class="indigo" href="#"><i class="icon ion-social-facebook"></i></a></li>
										<li><a class="blue" href="#"><i class="icon ion-social-twitter"></i></a></li>
										<li><a class="blue-grey" href="#"><i class="icon ion-email"></i></a></li>
										<li><a class="red" href="#"><i class="icon ion-social-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="other_posts" class="row col s12">
						<div class="ftps"></div>
						<div class="col s12 m7 l8 row">
							<div class="col s12 m12 l6">
								<div class="card">
									<div class="card-image">
										<img src="./images/swearing_in.png">
									</div>
									<div class="card-content">
										<p class="time">12th September, 2019 - 12:01pm</p>
										<p class="title">My manifesto for my Local Government </p>
										<p class="by"><span>By</span> Ariwoola Rasaq <span class="right views"><i class="icon ion-ios-eye-outline"></i> 1299 views</span></p>

									</div>
								</div>
							</div>
							<div class="col s12 m12 l6">
								<div class="card">
									<div class="card-image">
										<img src="./images/swearing_in.png">
									</div>
									<div class="card-content">
										<p class="time">12th September, 2019 - 12:01pm</p>
										<p class="title">My manifesto for my Local Government </p>
										<p class="by"><span>By</span> Ariwoola Rasaq <span class="right views"><i class="icon ion-ios-eye-outline"></i> 1299 views</span></p>

									</div>
								</div>
							</div>
							<div class="col s12 m12 l6">
								<div class="card">
									<div class="card-image">
										<img src="./images/swearing_in.png">
									</div>
									<div class="card-content">
										<p class="time">12th September, 2019 - 12:01pm</p>
										<p class="title">My manifesto for my Local Government </p>
										<p class="by"><span>By</span> Ariwoola Rasaq <span class="right views"><i class="icon ion-ios-eye-outline"></i> 1299 views</span></p>

									</div>
								</div>
							</div>
							<div class="col s12 m12 l6">
								<div class="card">
									<div class="card-image">
										<img src="./images/swearing_in.png">
									</div>
									<div class="card-content">
										<p class="time">12th September, 2019 - 12:01pm</p>
										<p class="title">My manifesto for my Local Government </p>
										<p class="by"><span>By</span> Ariwoola Rasaq <span class="right views"><i class="icon ion-ios-eye-outline"></i> 1299 views</span></p>

									</div>
								</div>
							</div>
						</div>
						<div id="query_box" class="col s12 m4 l3 offset-m1 offset-l1 row">
							<h4 class="heading">Popular Queries</h4>
							<div class="post">
								<p class="time">12th September, 2019 - 12:01pm</p>
								<p class="title">My manifesto for my Local Government </p>
								<p class="by">By Ariwoola Rasaq</p>
								<div class="boundry_line"></div>
							</div>
							<div class="post">
								<p class="time">12th September, 2019 - 12:01pm</p>
								<p class="title">My manifesto for my Local Government </p>
								<p class="by">By Ariwoola Rasaq</p>
								<div class="boundry_line"></div>
							</div>
							<div class="post">
								<p class="time">12th September, 2019 - 12:01pm</p>
								<p class="title">My manifesto for my Local Government </p>
								<p class="by">By Ariwoola Rasaq</p>
								<div class="boundry_line"></div>
							</div>
							<p><a href="#" class="see_more">See more <i class="icon ion-ios-arrow-right"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="join">
			<h4 class="title">Join our large community <br> of young impact makers who are changing <br> the political narrative </h4>
			<p class="center"><a href="/register" class="btn green">Sign up</a></p>
		</section>
		<footer class="white row">
			<div>
				<div class="col s12 m6">
					<p class="terms"><a href="#">Terms and condition </a></p>
					<p class="terms"><a href="#">Privacy policy </a></p>
				</div>
				<div class="col s12 m6">
					<ul class="social right">
						<li><a href="#"><img src="./images/fb_icon.png" alt=""></a></li>
						<li><a href="#"><img src="./images/google_icon.png" alt=""></a></li>
						<li><a href="#"><img src="./images/twitter_icon.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</footer>
	</main>

	{{> footer }}