{{> head }}
</head>

<body class="board">
  {{> innerNav }}
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="tab-fence">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a target="_self" href="/timeline">Timeline</a></li>
              <li class="tab col s2">
                <a href="#profile" class="active">Profile</a>
              </li>
              <li class="tab col s2"><a target="_self" href="/following">Following</a></li>
              <li class="tab col s2"><a target="_self" href="/followers">Followers</a></li>
            </ul>
          </div>
        </div>
        <div id="profile" class="board-layout col s12 row">
          <br>
          <div class="col s12 m4 l3">
            {{> profileCard }}
          </div>
          <div class="col s12 m8 l9">
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Summary</h4>
                <button class="btn green right follow-action follow" id="follow_{{userDetails._id}}">follow</button>
              </div>
              <div class="body nobd">
                <p>{{ userDetails.summary }} </p>
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Professional Experience</h4>
                <a class="waves-effect waves-light prof-trigger right" href="#modal1">
                  <i class="icon ion-plus-circled x2"></i>
                </a>

              </div>
              <div class="profItem" id="profItem">
                  &nbsp;
                {{#each userDetails.professional_experience}}
                  <div class="body">
                    <span class="blue-text">
                      <i class="x1.5 icon ion-edit" id="edit2"></i>
                      <i class="icon ion-android-done-all x1.5" id="save2"></i>
                    </span>
                    <h5 class="job-title">{{post}}
                    </h5>
                    <p class="job-location">{{where}}</p>
                    <p class="job-time_span">
                      <span class="startdate_prof">{{formatDate startDate "short"}}</span> - <span class="enddate_prof">{{formatDate endDate "short"}}</span>
                    </p>
                    <img src="https://logo.clearbit.com/{{url}}" alt="" class="job-logo right">
                    <p class="job-details">{{jobDesc}}</p>
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Education</h4>
                <a class="waves-effect waves-light edu-trigger right" href="#modal2">
                  <i class="icon ion-plus-circled x2"></i>
                </a>
              </div>
              <div class="eduItem" id="eduItem">
                {{#each userDetails.education}}
                  <div class="body">
                    <span class="blue-text">
                      <i class="x1.5 icon ion-edit" id="edit"></i>
                      <i class="icon ion-android-done-all x1.5" id="save"></i>
                    </span> &nbsp;
                    <h5 class="institution">{{institution}}</h5>
                    <p class="programme_certificate">{{programe}}</p>
                    <p class="study_time_span"><span class="startdate_edu">{{formatDate startDate "short"}}</span> - <span class="enddate_edu">{{formatDate endDate "short"}}</span></p>
                    <img src="https://logo.clearbit.com/{{url}}" alt="" class="job-logo right">
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{!-- add professional modal structure --}}
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Professional Experience</h4>
      <form id="profForm" class="row">
        <div class="col s12 m6 l6 input-field">
          <input value="" type="text" id="post_edit" placeholder="Designation e.g. Software Developer">
          <label for="post_edit">position</label>
        </div>
        <div class="col s12 m6 l6 input-field">
          <input value="" type="text" id="where_edit" placeholder="Company Name e.g. Andela">
          <label for="where_edit">Company/Institution</label>
        </div>
        <div class="col s12 m6 l4 input-field">
          <input value="" type="text" id="url_edit" placeholder="URL e.g company.com">
          <label for="url_edit">Company/Institution Website</label>
        </div>
        <div class="col s12 m3 l4 input-field">
          <input value="" type="text" class="datepicker" id="startDate_edit" placeholder="Start Date">
          <label for="startDate_edit">Start Date</label>
        </div>
        <div class="col s12 m3 l4 input-field">
          <input value="" type="text" class="datepicker" id="endDate_edit" placeholder="End Date">
          <label for="endDate_edit">End Date</label>
        </div>
        <div class="col s12 m12 l12 input-field">
          <textarea id="jobDesc_edit" name="" class="materialize-textarea"></textarea>
          <label for="jobDesc_edit">Job Description</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat blue " id="oyaAddProf">Add</a>
    </div>
  </div>

  {{!-- add education modal structure --}}
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Education</h4>
      <form id="eduForm" class="row">
        <div class="col s12 m6 l6 input-field">
          <input value="" type="text" id="institution_edit" placeholder="Institution Name e.g University of Ilorin">
          <label for="institution_edit">Institution</label>
        </div>
        <div class="col s12 m6 l6 input-field">
          <input value="" type="text" id="programe_edit" placeholder="Programme e.g B.Sc Political Science">
          <label for="programe_edit">Programme / Course</label>
        </div>
        <div class="col s12 m6 l4 input-field">
          <input value="" type="text" id="url_edit_edu" placeholder="URL e.g. lautech.com">
          <label for="url_edit_edu">Company/Institution Website</label>
        </div>
        <div class="col s12 m3 l4 input-field">
          <input value="" type="text" class="datepicker" id="startDate_edit_edu">
          <label for="startDate_edit_edu">Start Date</label>
        </div>
        <div class="col s12 m3 l4 input-field">
          <input value="" type="text" class="datepicker" id="endDate_edit_edu">
          <label for="endDate_edit_edu">End Date</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat blue" id="oyaAddEdu">Add</a>
    </div>
  </div>

  {{> profileMenu }} {{> footer }}
  <script>
    $(document).ready(function () {
      $.ajax({
        url: '/api/fetchMyPosts',
        type: 'get',
        success: function (post_data) {
          document.getElementById('myPostNum').innerHTML = post_data.length;
        },
        error: function (err) {
          console.log(err);
        }
      })
      $.ajax({
        url: '/api/fetchMyQueries',
        type: 'get',
        success: function (post_data) {
          document.getElementById('queryId').innerHTML = post_data.length;
        },
        error: function (err) {
          console.log(err);
        }
      })
      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: true
      });
    });
  </script>